 {
  "host": "127.0.0.1",
  "port": 52252,
  "snomed_path": "SNOMED",
  "vocabs_path": "VOCABULARY",
  "rebuild_omop": true,
  "backend": "csv",
  "pickle_ont": "SNOMED.ont",
  "connection_properties": "connection_properties.json",
  "stateless": false
 }